<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
      <div class="main w-full min-h-screen bg-zinc-900">
         <div class="form p-10 text-white">
             <form action="/create" method="post">
                <input class="block w-[20%] px-5 my-4 p-2 bg-gray-700 rounded-md text-white" type="text" placeholder="Enter title" name="title">
                <textarea class="block w-[50%] px-5 p-2 bg-gray-700 resize-none rounded-md text-white" placeholder="Write data" name="detail"></textarea>
                <input class="w-[150px] h-[40px] bg-blue-800 rounded-md mt-5" type="submit" value="Create task">
             </form>
         </div>
         <div  class="task  px-10 flex flex-wrap gap-[3.75rem]">
          <% if(files.length > 0){ %>
             <% files.forEach( (val) =>{ %>
                <div class="card w-1/5 h-[100px] px-4 border-2 bg-zinc-900 rounded-md">
                  <div class="flex  mt-4 text-white"><%=val%></div>
                  <a  href='/file/<%= val %>' class="text-md text-yellow-200">Read more...</a>
                  <a  href='/edit/<%= val %>' class="text-md border-2 border-indigo-600 rounded-md text-indigo-600 float-right ml-2 p-[2px]">Edit</a>
                  <a  href='/delete/<%= val %>' class="text-md border-2 border-red-600 rounded-md text-red-600 float-right p-[2px]">Delete</a>
              </div>
             <% }) %>
          <% }else{ %>
              <h2 class="text-white">No tasks...</h2>
          <% } %>
              
          </div>
         </div>
      </div>
</body>
</html>
